.container{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container__header{
    flex-direction: column;
    margin-top: 5%;
}
.body{
    margin: 0;
    height: 100%;
    background: black;
    position: relative;
}

.video__content{
    position: absolute;
    top: 0;
    padding: auto;


}

h5{
    color: white;
}



.header_decor{
    color: white;
    font-size: 200%;
}

.header__title{
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 120%;
}

.header{
    padding-top: 8%;
    background: black;
}

.decor{
    flex-direction: column;
}



.main{
    background: black;
    color:white;
    margin: 0;
    height: 80%;
    position: relative;
}

ul{
    list-style: none;
}

.container__links{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 1%;
}

.btn{
    background: black;
    border-style: none;
    width: 2.5%;
}

.btn__steam{
    width: 2.6%;
}

.btn__tg{
    width: 2.4%;
}

.footer{
    background: black;
    margin-top: 5%;
    color:white;
    display: flex;
    justify-content: center;
}

.img{
    width: 100%;
}


@media (max-width:410px)
{
    .container__header{
        margin-top: 33%;
    }
    .btn{
        width: 11%;
    }
    
    .btn__tg{
        width: 10%;
    }
}
